html, body, #cesiumContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.toolbox, .path-management, .flight-control {
  position: absolute;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.toolbox {
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
}

.path-management {
  top: 10px;
  right: 10px;
  width: 200px;
}

.flight-control {
  top: 130px;
  right: 10px;
}

.tool-item, .tool-item img {
  width: 100%;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
}

.tool-item img {
  max-width: 30px;
  max-height: 30px;
}

.path-actions button, .flight-control button {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
}

.path-selection, .camera-view {
  margin-top: 10px;
}
